{% extends 'base.html' %}

{% block title %}Vote - Semey Chickens{% endblock %}

{% block content %}
   <div class="content">
      <div class="wrapper">
         {% if count_votes >= half_list %}
            <h2 class="goodbye">Thank you for voting</h2>
         {% else %}
            <form class="form-person" method="POST" enctype="multipart/form-data">
               <div class="person-list-box">
                  
                  {% if messages %}                     
                     {% for mess in messages %}
                        <div />
                        <p class="error-message">
                           <a href="{% url 'home_url' %}">{{ mess }}</a>
                        </p>
                     {% endfor %}
                  {% endif %}

                  {% for person1,person2 in zipped_list %}
                     <div class="person-list__container">
                        <div class="person-list__item">
                           <label class="person-list__item__label">
                              <p class="person-list__item__name">
                                 {{ person1.login }} <br>
                                 Голосов: {{ person1.vote_score }}
                              </p>
                              <div class="person-list__item__ava__box">
                                 {% if person1.img %}
                                    <img class="person-list__item__ava" src="{{ person1.img.url }}">
                                 {% else %}
                                    <img class="person-list__item__ava" src="/pictures/default.jpg">
                                 {% endif %}
                              </div>
                              <input class="person-is-voted" type="checkbox" name="person[]" value="{{ person1.id }}">
                              <div class="person-list__overlay">
                                 <p>Проголосовать</p>
                              </div>
                           </label>
                        </div>
                        <div class="person-list__item">
                           <label class="person-list__item__label">
                              <p class="person-list__item__name">
                                 {{ person2.login }} <br>
                                 Голосов: {{ person2.vote_score }}
                              </p>
                              <div class="person-list__item__ava__box">
                                 {% if person2.img %}
                                    <img class="person-list__item__ava" src="{{ person2.img.url }}">
                                 {% else %}
                                    <img class="person-list__item__ava" src="/pictures/default.jpg">
                                 {% endif %}
                              </div>
                              <input class="person-is-voted" type="checkbox" name="person[]" value="{{ person2.id }}">
                              <div class="person-list__overlay">
                                 <p>Проголосовать</p>
                              </div>
                           </label>
                        </div>
                     </div>
                  {% endfor %}
                  <div class="submit-form">
                     <button type="submit">Отправить голоса</button>
                  </div>
                  {% csrf_token %}
               </div>
            </form>
         {% endif %}
      </div>
   </div>
{% endblock %}