{% extends 'base.html' %}

{% block content %}
   <h1>TOP 3</h1>
   <p>
      Первое место: {{ number_1.login }}
      <img src="{{ number_1.img.url }}">
   </p>
   <p>
      Голосов: {{ number_1.vote_score }}
   </p>
   <br/>
   <br/>
   <br/>
   <p>
      Второе место: {{ number_2.login }}
      <img src="{{ number_2.img.url }}">
   </p>
   <p>
      Голосов: {{ number_2.vote_score }}
   </p>
   <br/>
   <br/>
   <br/>
   <p>
      Третье место: {{ number_3.login }}
      <img src="{{ number_3.img.url }}">
   </p>
   <p>
      Голосов: {{ number_3.vote_score }}
   </p>
{% endblock %}