body {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   margin: 0;
}

/* Partials */

h1,h2,h3,h4,h5,h6,
ul,
p {
   padding: 0;
   margin: 0;
   list-style: none;  
}

.wrapper {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 25px;
}

/* Styles */

#myVideo {
   position: fixed;
   left: 0px;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   min-height: 100%;
}

.content {
   color: #fff;
   position: absolute;
   text-align: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
}

.vote-title {
   text-align: left;
   padding: 20px;  
}

.vote-footer {
   margin-top: 7%;
}

.vote-footer p a {
   color: #FED428;
}

.img-box {
   font-size: 0;
}

.person-img {
   width: 100%;
}

.active {
   display: flex !important;
   justify-content: space-around;
   margin-top: 10%;
   margin-bottom: 20px;
}

.person-item {
   width: 22%;
}

.person-name {
   position: absolute;
   width: 100%;
   padding: 9px;
   box-sizing: border-box;
   bottom: 0px;
   background: rgba(0, 0, 0, 0.4);
   font-size: 17px;
}

.checkbox-btn {
   position: relative;
   display: block;
   cursor: pointer;
}

.overlay {
   background: rgba(0, 0, 0, 0.4);
   opacity: 0;
   position: absolute;
   transition: all 0.3s;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.overlay p {
   margin-top: 67%;
   color: #fff;
   font-size: 22px;
}

.goodbye {
   font-size: 3em;
   text-transform: uppercase;
   margin-top: 18%;
   margin-bottom: 23%;
}

.submit-form button {
   font-size: 16px;
   margin-top: 10%;
   margin-bottom: 14.5%;
   display: inline-block;
   background: #FED428;
   color: #2B3956;
   text-transform: uppercase;
   padding: 10px 35px;
   border: none;
   outline: 1px solid rgba(255, 255, 255, 0.2);
   cursor: pointer;
   border: none;
   outline-offset: 10px;
   transition: all 0.4s;
}

.submit-form button:hover {
   background: #ffe477;
}

.checkbox-btn:hover .overlay {
   opacity: 1;
}

.wrap,
.submit-form,
.checkbox-btn input[type="checkbox"] {
   display: none;
}

.checkbox-btn input[type="checkbox"]:checked + .overlay {
   opacity: 1;
   background: rgba(0, 0, 0, 0.6);
}